---
import {Image} from "astro:assets"
import Layout from "../layouts/Layout.astro"
import {SITE_BACKGROUND_COLOR} from "../../astro.config.mjs"
import {Icon} from "astro-icon/components"
import PhoneImage from "../assets/images/samples/phone-mockup.png"
---

<Layout pageTitle="_starter" pageDescription="_starter Page">
    <section class={SITE_BACKGROUND_COLOR}></section>
</Layout>
