---
// import {Image} from "astro:assets"
import Layout from "../layouts/Layout.astro"
import desdinovaConfig from "../config/desdinova-config"

// import {Icon} from "astro-icon/components"
// import ImageSample from "../assets/images/examples/phone-mockup.png"
---

<Layout pageTitle="_starter" pageDescription="_starter Page">
    <section class={desdinovaConfig.colors.mainBackground}></section>
</Layout>
