---
// import {Image} from "astro:assets"
import Layout from "../layouts/Layout.astro"
import siteData from "../config/siteData"

// import {Icon} from "astro-icon/components"
// import ImageSample from "../assets/images/samples/phone-mockup.png"
---

<Layout pageTitle="_starter" pageDescription="_starter Page">
    <section class={siteData.colors.mainBackground}></section>
</Layout>
