---
import Layout from "../layouts/Layout.astro"
import siteData from "../config/siteData"

import Announcement from "../components/Announcement.astro"
import Desdinova from "./examples/desdinova.astro"
---

<Layout pageTitle="Home">
    <section class={siteData.colors.mainBackground}>
        <Announcement />
        <Desdinova />
    </section>
</Layout>
