---
import Layout from "../layouts/Layout.astro"
import {Icon} from "astro-icon/components"
import {SITE_BACKGROUND_COLOR} from "../../astro.config.mjs"
import Announcement from "../components/Announcement.astro"
import NewsletterSignup from "../components/NewsletterSignup.astro"
---

<Layout pageTitle="Home">
    <section class={SITE_BACKGROUND_COLOR}>
        <Announcement />
        <div
            class="mx-auto max-w-screen-xl px-4 py-8 text-center lg:px-12 lg:py-16">
            <h1
                class="mb-4 font-body text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                Desdinova v0.0.2
            </h1>

            <div>
                <p
                    class="mb-8 font-body text-lg font-normal text-gray-500 sm:px-16 lg:text-xl xl:px-48 dark:text-gray-400">
                    A quick opinionated way to get started with
                    <Icon
                        name="logos:astro-icon"
                        class="inline dark:bg-gray-200"
                    />
                    Astro using
                    <br />
                    <Icon name="logos:tailwindcss-icon" class="inline" />
                    Tailwind CSS,
                    <br />
                    <Icon name="flowbite:flowbite-solid" class="inline" />
                    Flowbite and<br />
                    <Icon name="logos:cloudflare-icon" class="inline" />
                    Cloudflare Pages
                </p>
            </div>
            <div
                class="mb-8 flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-x-4 sm:space-y-0 lg:mb-16">
                <a
                    href="/Features"
                    class="inline-flex items-center justify-center rounded-lg bg-primary-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                    Learn more
                    <svg
                        class="-mr-1 ml-2 h-5 w-5"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0.0.2.414 0l6 6a1 1 0 0.0.2.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 0.0.2.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
                <a
                    href="/Features"
                    class="inline-flex items-center justify-center rounded-lg border border-gray-300 px-5 py-3 text-center text-base font-medium text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                    <svg
                        class="-ml-1 mr-2 h-5 w-5"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0.0.24 8v4a1 1 0 00.553.894l2 1A1 1 0.0.28 13V7a1 1 0 00-1.447-.894l-2 1z"
                        ></path>
                    </svg>
                    Watch video
                </a>
            </div>
            <div
                class="mx-auto px-4 text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36">
                <span class="font-semibold uppercase text-gray-400"
                    >FEATURED IN</span
                >
                <div
                    class="mt-8 flex flex-wrap items-center justify-center text-gray-500 sm:justify-between">
                    <div>
                        <a
                            href="#"
                            class="mb-5 mr-5 hover:text-gray-800 lg:mb-0 dark:hover:text-gray-400">
                            <Icon
                                name="tabler:brand-youtube"
                                class="mr-2 inline h-10 w-12"
                            />
                            <span class="align-middle text-xl font-bold"
                                >YouTube</span
                            >
                        </a>
                    </div>
                    <div>
                        <a
                            href="#"
                            class="mb-5 mr-5 hover:text-gray-800 lg:mb-0 dark:hover:text-gray-400">
                            <Icon
                                name="tabler:brand-html5"
                                class="mr-2 inline h-10 w-12"
                            />
                            <span class="align-middle text-xl font-bold"
                                >HTML5</span
                            >
                        </a>
                    </div>
                    <div>
                        <a
                            href="#"
                            class="mb-5 mr-5 hover:text-gray-800 lg:mb-0 dark:hover:text-gray-400">
                            <Icon
                                name="tabler:brand-yarn"
                                class="mr-2 inline h-10 w-12"
                            />
                            <span class="align-middle text-xl font-bold"
                                >Kitty!</span
                            >
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <NewsletterSignup />
</Layout>
