---
import Layout from '../layouts/Layout.astro';
import desdinovaConfig from '../config/desdinova-config';

import Announcement from '../components/Announcement.astro';
import Desdinova from './examples/desdinova.astro';
---

<Layout pageTitle="Home">
	<section class={desdinovaConfig.colors.mainBackground}>
		<Announcement />
		<Desdinova />
	</section>
</Layout>
