---
import {Icon} from "astro-icon/components"
---

<div
    id="banner"
    class="flex w-full justify-between border border-b border-gray-200 bg-gray-100 px-4 py-3 dark:border-gray-700 dark:bg-gray-700">
    <div class="mx-auto flex items-center">
        <p class="text-sm font-medium text-gray-900 md:my-0 dark:text-white">
            <span
                class="mb-2 me-2 inline-flex items-center justify-center rounded-lg bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 px-5 py-2 text-center text-sm font-medium text-white shadow-lg shadow-blue-500/50 hover:bg-gradient-to-br focus:outline-none focus:ring-4 focus:ring-blue-300 md:inline-flex dark:shadow-lg dark:shadow-blue-800/80 dark:focus:ring-blue-800"
                >New</span
            >

            Announcement Banner asdf as afsd asdf asdf asd fasd fasd fa asd af
            <a
                href="/Features"
                class="mb-2 me-2 ml-2 inline-flex items-center justify-center rounded-lg bg-gradient-to-r from-purple-500 to-pink-500 px-5 py-2 text-center text-sm font-medium text-white hover:bg-gradient-to-l focus:outline-none focus:ring-4 focus:ring-purple-200 dark:focus:ring-purple-800"
                >Check it out
            </a>
        </p>
    </div>
</div>
