---

---

<div
    id="banner"
    class="flex w-full justify-between border border-b border-gray-200 bg-gray-50 px-4 py-3 dark:border-gray-700 dark:bg-gray-800">
    <div class="mx-auto flex items-center">
        <p class="text-sm font-medium text-gray-900 md:my-0 dark:text-white">
            <span
                class="mr-3 rounded-full bg-primary-600 px-4 py-1.5 text-xs text-white"
                >New</span
            >
            Announcement Banner
            <a
                href="/Features"
                class="ml-0 inline-flex items-center text-sm font-medium text-primary-600 hover:underline md:ml-2 dark:text-primary-500">
                Check it out
                <svg
                    class="ml-1 h-4 w-4 text-primary-600 dark:text-primary-500"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
        </p>
    </div>
</div>
