---
import NavLink from "./_desdinova/NavLink.astro"
---

<ul class="mb-6 flex flex-wrap items-center justify-center font-medium">
    <li>
        <NavLink title="About" href="/examples/about" />
    </li>
    <li>
        <NavLink title="Blog" href="/blog" />
    </li>
    <li>
        <NavLink title="Privacy" href="/privacy" />
    </li>
    <li>
        <NavLink title="FAQs" href="/examples/faq" />
    </li>
    <li>
        <NavLink title="Search" href="/search" />
    </li>
    <li>
        <NavLink
            title="Astro"
            href="https://astro.build"
            icon="logos:astro-icon"
        />
    </li>
</ul>
