---
import NavLink from "./_core/NavLink.astro"
---

<ul class="mb-6 flex flex-wrap items-center justify-center font-medium">
    <li>
        <NavLink title="About" href="/About" />
    </li>
    <li>
        <NavLink title="Blog" href="/blog" />
    </li>
    <li>
        <NavLink title="Privacy" href="/privacy" />
    </li>
    <li>
        <NavLink title="FAQs" href="/FAQ" />
    </li>
    <li>
        <NavLink title="Search" href="/src/pages/Search" />
    </li>
</ul>
