<ul
    class="mb-6 flex flex-wrap items-center justify-center text-gray-900 dark:text-white">
    <li>
        <a href="/About" class="mr-4 hover:underline md:mr-6">About</a>
    </li>
    <li>
        <a href="/blog" class="mr-4 hover:underline md:mr-6">Blog</a>
    </li>
    <li>
        <a href="/privacy" class="mr-4 hover:underline md:mr-6">Privacy</a>
    </li>
    <li>
        <a href="/FAQ" class="mr-4 hover:underline md:mr-6">FAQs</a>
    </li>
</ul>
