---
import {Icon} from "astro-icon/components"
---

<div class="mt-4 flex sm:mt-0 sm:justify-center">
    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
        <Icon name="tabler:brand-facebook" class="mr-2 h-7 w-7" />
        <span class="sr-only">Facebook</span>
    </a>
    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
        <Icon name="tabler:brand-instagram" class="mr-2 h-7 w-7" />
        <span class="sr-only">Instagram</span>
    </a>
    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
        <Icon name="tabler:brand-threads" class="mr-2 h-7 w-7" />
        <span class="sr-only">Threads</span>
    </a>
    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
        <Icon name="tabler:brand-x" class="mr-2 h-7 w-7" />
        <span class="sr-only">X</span>
    </a>
    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
        <Icon name="tabler:brand-youtube" class="mr-2 h-7 w-7" />
        <span class="sr-only">YouTube</span>
    </a>
    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
        <Icon name="tabler:brand-discord" class="mr-2 h-7 w-7" />
        <span class="sr-only">Discord</span>
    </a>
</div>
