---
import {Icon} from "astro-icon/components"
import NavLink from "./_core/NavLink.astro"
---

<div class="flex items-center lg:order-2">
    <a
        href="/examples/login"
        class="mr-2 rounded-lg px-4 py-2 text-sm font-medium text-gray-800 hover:bg-gray-50 focus:outline-none focus:ring-4 focus:ring-gray-300 lg:px-5 lg:py-2.5 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-800"
        >Log in</a
    >
    <a
        href="/examples/getstarted"
        class="mr-2 rounded-lg bg-primary-700 px-4 py-2 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 lg:px-5 lg:py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        >Get started</a
    >
    <button
        data-collapse-toggle="mobile-menu-2"
        type="button"
        class="ml-1 inline-flex items-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 lg:hidden dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="mobile-menu-2"
        aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <Icon name="mdi:hamburger-menu" class="h-6 w-6" />
        <Icon name="mdi:hamburger-menu" class="hidden h-6 w-6" />
    </button>
</div>
<div
    class="hidden w-full items-center justify-between lg:order-1 lg:flex lg:w-auto"
    id="mobile-menu-2">
    <ul class="mt-4 flex flex-col font-medium lg:mt-0 lg:flex-row lg:space-x-8">
        <li>
            <NavLink title="Home" href="/" icon="tabler:home-filled" />
        </li>
        <li>
            <NavLink title="Company" href="/examples/company" />
        </li>
        <li>
            <NavLink title="Features" href="/examples/features" />
        </li>
        <li>
            <NavLink title="Team" href="/examples/team" />
        </li>
        <li>
            <NavLink title="Contact" href="/examples/contact" />
        </li>
    </ul>
</div>
