---
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';

import { Icon } from 'astro-icon/components';
import PhoneImage from '../../assets/images/examples/phone-mockup.png';
import NewsletterSignup from '../../components/NewsletterSignup.astro';
import desdinovaConfig from '../../config/desdinova-config';
---

<Layout pageTitle="Company" pageDescription="All about the Company">
	<section class={desdinovaConfig.colors.mainBackground}>
		<div
			class="mx-auto grid max-w-screen-xl px-4 py-8 lg:grid-cols-12 lg:gap-8 lg:py-16 xl:gap-0"
		>
			<div class="mr-auto place-self-center lg:col-span-7">
				<h1
					class="mb-4 max-w-2xl text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white"
				>
					Payments tool for software companies
				</h1>
				<p
					class="mb-6 max-w-2xl font-light text-gray-500 md:text-lg lg:mb-8 lg:text-xl dark:text-gray-400"
				>
					From checkout to global sales tax compliance, companies around the world use
					Flowbite to simplify their payment stack.
				</p>
				<a
					href="/examples/getstarted"
					class="mr-3 inline-flex items-center justify-center rounded-lg bg-primary-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
				>
					Get started
					<Icon name="tabler:arrow-right" class="ml-1 h-5 w-5" />
				</a>
				<a
					href="/examples/contact"
					class="inline-flex items-center justify-center rounded-lg border border-gray-300 px-5 py-3 text-center text-base font-medium text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-800"
				>
					Speak to Sales
				</a>
			</div>
			<div class="hidden lg:col-span-5 lg:mt-0 lg:flex">
				<Image src={PhoneImage} alt="mockup" loading="eager" />
			</div>
		</div>
	</section>

	<NewsletterSignup />
</Layout>
