---
import Layout from "../../layouts/Layout.astro"

import TeamMember from "../../components/TeamMember.astro"
import siteData from "../../config/siteData"
---

<Layout pageTitle="Team" pageDescription="Our Team">
    <section class={siteData.colors.mainBackground}>
        <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
            <div class="mx-auto mb-8 max-w-screen-sm text-center lg:mb-16">
                <h2
                    class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">
                    Our Team
                </h2>
                <p
                    class="font-light text-gray-500 sm:text-xl lg:mb-16 dark:text-gray-400">
                    Explore the whole collection of open-source web components
                    and elements built with the utility classes from Tailwind
                </p>
            </div>
            <div class="mb-6 grid gap-8 md:grid-cols-2 lg:mb-16">
                <TeamMember
                    name="Bonnie Green"
                    title="CEO & Web Developer"
                    description="Bonnie drives the technical strategy of the flowbite platform and brand."
                    imagePath="/src/assets/images/team/bonnie-green.png"
                    social1name="Facebook"
                    social1url="#facebook"
                    social1icon="tabler:brand-facebook"
                    social2name="Instagram"
                    social2url="#instagram"
                    social2icon="tabler:brand-instagram"
                    social3name=""
                    social3url=""
                    social3icon=""
                    social4name=""
                    social4url=""
                    social4icon=""
                    social5name=""
                    social5url=""
                    social5icon=""
                    social6name=""
                    social6url=""
                    social6icon=""
                />
                <TeamMember
                    name="Jese Leos"
                    title="CTO"
                    description="Jese drives the technical strategy of the flowbite platform and brand."
                    imagePath="/src/assets/images/team/jese-leos.png"
                    social1name="YouTube"
                    social1url="#youtube"
                    social1icon="tabler:brand-youtube"
                    social2name="Twitter"
                    social2url="#twitter"
                    social2icon="tabler:brand-twitter"
                    social3name=""
                    social3url=""
                    social3icon=""
                    social4name=""
                    social4url=""
                    social4icon=""
                    social5name=""
                    social5url=""
                    social5icon=""
                    social6name=""
                    social6url=""
                    social6icon=""
                />
                <TeamMember
                    name="Michael Gough"
                    title="Senior Front-end Developer"
                    description="Michael drives the technical strategy of the flowbite platform and brand."
                    imagePath="/src/assets/images/team/michael-gouch.png"
                    social1name="TikTok"
                    social1url="#tiktok"
                    social1icon="tabler:brand-tiktok"
                    social2name="Github"
                    social2url="#github"
                    social2icon="tabler:brand-github"
                    social3name=""
                    social3url=""
                    social3icon=""
                    social4name=""
                    social4url=""
                    social4icon=""
                    social5name=""
                    social5url=""
                    social5icon=""
                    social6name=""
                    social6url=""
                    social6icon=""
                />
                <TeamMember
                    name="Lana Byrd"
                    title="Marketing & Sale"
                    description="Lana drives the technical strategy of the flowbite platform and brand."
                    imagePath="/src/assets/images/team/sofia-mcguire.png"
                    social1name="Discord"
                    social1url="#discord"
                    social1icon="tabler:brand-discord"
                    social2name=""
                    social2url=""
                    social2icon=""
                    social3name=""
                    social3url=""
                    social3icon=""
                    social4name=""
                    social4url=""
                    social4icon=""
                    social5name=""
                    social5url=""
                    social5icon=""
                    social6name=""
                    social6url=""
                    social6icon=""
                />
            </div>
        </div>
    </section>
</Layout>
